@model Alpha.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h2>
    <a asp-action="Details" asp-route-id="@Model.Id">User "@Model.Name"</a>
</h2>

<div class="row">
    <div class="col-xs-12 header">
        <a asp-action="Index">&larr;&nbsp;Back to users</a>
        &nbsp;|&nbsp;
        &nbsp;&#10003;&nbsp;Edit
        &nbsp;|&nbsp;
        <a asp-action="Remove" asp-route-id="@Model.Id">&nbsp;x&nbsp;Remove</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">

        <h2>@Model.Name</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Password" />
            <div class="form-group">
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
