@model IEnumerable<Alpha.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<div class="row header">
    <div class="col-xs-12">
        &nbsp;
    </div>
</div>

@foreach (var item in Model)
{
<a asp-action="Details" asp-route-id="@item.Id">
    <div class="row">
        <div class="col-xs-3">
            @if (item.Role == Role.Manager)
            {
                <span class="icon">&#9733;</span>
            }
            else
            {
                <span class="icon">&#9829;</span>
            }
            @Html.DisplayFor(modelItem => item.Role)
        </div>
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-xs-3">
            @item.Email
        </div>
    </div>
</a>
}