@model Alpha.Models.Reservation

@{
    ViewData["Title"] = "Add";
}

<h2>Add new reservation</h2>

<a asp-action="Index">
    <div class="row header">
        <div class="col-xs-12">
            &larr; Back to reservations
        </div>
    </div>
</a>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Status" />
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label><br />
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input type="button" onclick="SetTime(15);" value="15 mins" class="btn btn-default" />
                <input type="button" onclick="SetTime(20);" value="20 mins" class="btn btn-default" />
                <input type="button" onclick="SetTime(30);" value="30 mins" class="btn btn-default" />
                <input type="button" onclick="SetTime(45);" value="45 mins" class="btn btn-default" />
                <input type="button" onclick="SetTime(60);" value="1 hr" class="btn btn-default" />
                <input type="button" onclick="SetTime(90);" value="90 mins" class="btn btn-default" />
                <input type="button" onclick="SetTime(120);" value="2 hr" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add reservation" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var currentDate = new Date();
    currentDate.setMinutes(currentDate.getMinutes() - currentDate.getTimezoneOffset());
    $("#Start").val(currentDate.toISOString().substring(0, 16));
    
    function SetTime(num) {
        var newDate = new Date($("#Start").val());
        newDate.setMinutes(newDate.getMinutes() - newDate.getTimezoneOffset() + num);
        $("#End").val(newDate.toISOString().substring(0, 16));
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
