@{
    bool auth = User.Identity.IsAuthenticated;
    bool IsManager = auth && User.IsInRole("Manager");
}

@model IEnumerable<Alpha.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}

<h2>Reservations</h2>
<a asp-action="Add">
    <div class="row header">
        <div class="col-xs-12">
            + Add new reservation
        </div>
    </div>
</a>

<script type="text/javascript">

    function GetReservations() {
        let url = "../Reservations/Reservations";
        $.get(url, function (data) {
            if (data != null) {
                $("#res").html(data);
                GetCount();
            } else {
                $("#res").text("Error");
            }
        });
    }

    setInterval(GetReservations, 5000);

    GetReservations();
</script>

<div id="res">
    @{await Html.RenderPartialAsync("_Reservations", Model);}
</div>
