@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
  
    <div class="col-md-3">
        <h2><a asp-area="" asp-controller="Rooms" asp-action="Index">Rooms</a></h2>
    </div>
    <div class="col-md-3">
        <h2><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></h2>
    </div>
    <div class="col-md-3">
        <h2><a asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a></h2>
    </div>
    <div class="col-md-3">
        <h2>Test</h2>
    </div>
</div>
