body {
    font-family: 'Segoe UI';
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    border-bottom: 1px solid #c0c0c0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row.rooms {
    height: 6em;
}

.icon {
    margin-right:10px;
}

.Room {
    font-weight:bold;
}

.header {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #ff6a00;
}