body {
    font-family: 'Segoe UI';
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-bottom:5px;
}

.Room {
    font-weight:bold;
}

.Seats {
    font-size:90%;
}

a:hover {
    text-decoration: none;
    color: #ff6a00;
}